{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
<div class="row">
  <h1 class="page-header">Matcha</h1>
  <p>This is the homepage</p>
</div>
{% endblock %}
