<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Matcha{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Matcha</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li>
              <p class="navbar-btn">
                <a class="btn btn-success" href="/login">
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  Login
                </a>
              </p>
            </li>
            <li>
              <p class="navbar-btn">
                <a class="btn btn-danger" href="/logout">
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  Logout
                </a>
              </p>
            </li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>
    <main class="container-fluid main">
      {% for label, flashes in flashbag %}
        {% for flash in flashes %}
          <div class="alert alert-{{ label }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p>{{ flash|raw }}</p>
          </div>
        {% endfor %}
      {% endfor %}

      {% block body %}{% endblock %}
    <main>
    <footer>
      <p>&copy; Matcha - 42</p>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
